<header class="header">
    <div class="header__logo-box">
        <img src="https://i0.wp.com/e-koufonisia.com/wp-content/uploads/2017/03/IMG_0781-1.png?fit=1200%2C209&ssl=1"
            alt="Logo" class="header__logo">
    </div>

    <div class="header__text-box">
        <h1 class="heading-primary" style='font-size: 5rem;'>
            Page not found.
        </h1>

        <a href="/" class="btn btn--white btn--animated">Return back</a>
    </div>
</header>