<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

    <!--<link rel="stylesheet" href="css/icon-font.css">-->

    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png">

    <title>Koufonisia Islands in Cyclades | Discover Koufonisia in Greece</title>

    <!-- SEO -->
    <meta name="description"
        content="Koufonisia islands. Discover Koufonisia in Small Cyclades, Greece.Find Local bars, traditional taverns, beaches, accommodation, shops and hotels in Koufonisia.">
    <link rel="canonical" href="https://koufonisia.org">
    <link rel="publisher" href="https://plus.google.com/+E-koufonisiaGr">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Koufonisia - Discover Koufonisia Islands in Cyclades">
    <meta property="og:description"
        content="Koufonisia, Koufonisia Booking in easy steps, discover koufonisia island in 360, enjoy our beaches, accomondation and restaurants...">
    <meta property="og:url" content="https://koufonisia.org">
    <meta property="og:site_name" content="Koufonisia Islands">
    <meta property="og:image"
        content="https://i2.wp.com/e-koufonisia.com/wp-content/uploads/2015/10/13690904_620859921406557_3029733532641406089_o-1-1.jpg?fit=768%2C576&amp;ssl=1">
    <meta property="og:image:secure_url"
        content="https://i2.wp.com/e-koufonisia.com/wp-content/uploads/2015/10/13690904_620859921406557_3029733532641406089_o-1-1.jpg?fit=768%2C576&amp;ssl=1">
    <meta property="og:image:width" content="768">
    <meta property="og:image:height" content="576">
    <meta property="og:image:alt" content="Italida">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:description"
        content="Koufonisia, Koufonisia Booking in easy steps, discover koufonisia island in 360, enjoy our beaches, accomondation and restaurants...">
    <meta name="twitter:title" content="Koufonisia - Discover Koufonisia Islands in Cyclades">
    <meta name="twitter:site" content="@EKoufonisia">
    <meta name="twitter:image"
        content="https://e-koufonisia.com/wp-content/uploads/2015/10/13690904_620859921406557_3029733532641406089_o-1-1.jpg">
    <meta name="twitter:creator" content="@EKoufonisia">
    <script
        type="application/ld+json">{"@context":"https:\/\/schema.org","@type":"WebSite","@id":"#website","url":"https:\/\/e-koufonisia.com\/","name":"Koufonisia Islands","potentialAction":{"@type":"SearchAction","target":"https:\/\/e-koufonisia.com\/?s={search_term_string}","query-input":"required name=search_term_string"}}</script>
    <script
        type="application/ld+json">{"@context":"https:\/\/schema.org","@type":"Organization","url":"https:\/\/e-koufonisia.com\/","sameAs":["https:\/\/www.facebook.com\/ekoufonisia\/","https:\/\/www.instagram.com\/ekoufonisia\/","https:\/\/plus.google.com\/+E-koufonisiaGr","https:\/\/www.youtube.com\/channel\/UCNYl1BQi2xwLVwOPXjFReLw","https:\/\/gr.pinterest.com\/koufonisia\/","https:\/\/twitter.com\/EKoufonisia"],"@id":"https:\/\/e-koufonisia.com\/#organization","name":"Koufonisia","logo":"https:\/\/e-koufonisia.com\/wp-content\/uploads\/2017\/03\/EKOUFONISIA_logo_-vert-1.png"}</script>
</head>