<header class="header">
    <div class="header__logo-box">
        <img src="https://i0.wp.com/e-koufonisia.com/wp-content/uploads/2017/03/IMG_0781-1.png?fit=1200%2C209&ssl=1"
            alt="Logo" class="header__logo">
    </div>

    <div class="header__text-box">
        <h1 class="heading-primary">
            <span class="heading-primary--main">Koufonisia</span>
            <span class="heading-primary--sub">Small Cyclades</span>
        </h1>

        <a href="https://e-koufonisia.com/" target="_blank" class="btn btn--white">Discover</a>
    </div>
</header>