<main>
    <section class="section-about">
        <div class="u-center-text u-margin-bottom-big">
            <h2 class="heading-secondary">
                FEEL THE MAGIC OF KOUFONISIA ISLANDS
            </h2>
        </div>

        <div class="row">
            <div class="col-1-of-2">
                <h3 class="heading-tertiary u-margin-bottom-small">It’s no coincidence that when anyone hears the
                    word “Koufonisia,” their soul smiles. </h3>
                <p class="paragraph">
                    They close their eyes and immediately transport themselves to the site where clear blue water
                    reflects their dream…to the endless beaches, to the vibrations of the island and the hidden
                    caves where their worries find solace. To Chora, where the local inhabitants drink together and
                    open their homes to say “Welcome.” There, southeast of Naxos and west of Amorgos, on Koufonisia
                    you lose all concept of time and simply put, feel free.
                </p>

                <h3 class="heading-tertiary u-margin-bottom-small">Koufonisia is part of the Small Cyclades</h3>
                <p class="paragraph">
                    a cluster of islands in the southeastern Cyclades. Koufonisia is composed of two small islands,
                    Ano (Upper) and Kato (Lower) Koufonisi as well as Keros.
                </p>

                <a href="https://e-koufonisia.com/koufonisia/" target="_blank" class="btn-text">Learn more
                    &rarr;</a>
            </div>
            <div class="col-1-of-2">
                <div class="composition">

                    <img sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px" alt="Photo 1"
                        class="composition__photo composition__photo--p1"
                        src="https://e-koufonisia.com/wp-content/uploads/2017/05/koufonisia_0.jpg">

                    <img sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px" alt="Photo 2"
                        class="composition__photo composition__photo--p2"
                        src="https://i0.wp.com/e-koufonisia.com/wp-content/uploads/2017/05/parianos.jpg?zoom=2&fit=1517%2C800&ssl=1">

                    <img sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px" alt="Photo 3"
                        class="composition__photo composition__photo--p3"
                        src="https://i2.wp.com/e-koufonisia.com/wp-content/uploads/2017/05/DJI_0302.jpg?zoom=2&fit=1067%2C800&ssl=1">

                </div>
            </div>
        </div>
    </section>

    <section class="section-tours" id="section-tours">
        <div class="u-center-text u-margin-bottom-big">
            <h2 class="heading-secondary">
                Most popular beaches
            </h2>
        </div>

        <div class="row">
            <div class="col-1-of-3">
                <div class="card">
                    <div class="card__side card__side--front">
                        <div class="card__picture card__picture--1">
                            &nbsp;
                        </div>
                        <h4 class="card__heading">
                            <span class="card__heading-span card__heading-span--1">Pori Beach</span>
                        </h4>
                        <div class="card__details">
                            <p>As one approaches Pori, it resembles a scene out of a movie set. Like an oasis, the
                                sandy beach stretches out into the most stunning turquoise water. It is the furthest
                                beach on the island, approximately 4km from Chora ...
                            </p>
                        </div>
                    </div>
                    <div class="card__side card__side--back card__side--back-1">
                        <div class="card__cta">
                            <a href="https://e-koufonisia.com/listings/pori-beach/" class="btn btn--white">Visit
                                now!</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-1-of-3">
                <div class="card">
                    <div class="card__side card__side--front">
                        <div class="card__picture card__picture--2">
                            &nbsp;
                        </div>
                        <h4 class="card__heading">
                            <span class="card__heading-span card__heading-span--2">Italida Beach</span>
                        </h4>
                        <div class="card__details">
                            <p>A blend of natural beauty, turquoise water and the sense of freedom that visitors
                                feel with “Italian insignia” is for many what makes this beach the most beautiful of
                                all on the island. Truth be told, it’s hard to leave so you should come equipped
                                with an umbrella or a tent...</p>
                        </div>

                    </div>
                    <div class="card__side card__side--back card__side--back-2">
                        <div class="card__cta">
                            <a href="https://e-koufonisia.com/listings/italida-beach/" class="btn btn--white">Visit
                                now!</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-1-of-3">
                <div class="card">
                    <div class="card__side card__side--front">
                        <div class="card__picture card__picture--3">
                            &nbsp;
                        </div>
                        <h4 class="card__heading">
                            <span class="card__heading-span card__heading-span--3">Ammos Beach</span>
                        </h4>
                        <div class="card__details">
                            <p>This is the first beach and it literally welcomes you to the island. It conveys a
                                slight but glaring impression of the island’s other well known beaches. It is
                                located in the center of Chora right next to the port...</p>
                        </div>

                    </div>
                    <div class="card__side card__side--back card__side--back-3">
                        <div class="card__cta">

                            <a href="https://e-koufonisia.com/listings/ammos-beach/" class="btn btn--white">Visit
                                now!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="u-center-text u-margin-top-huge">
            <a href="https://e-koufonisia.com/listing-category/beaches/" class="btn btn--green">Discover all
                beaches</a>
        </div>
    </section>

    <section class="section-stories">
        <div class="bg-video">
            <video class="bg-video__content" autoplay muted loop>
                <source src="img/video.mp4" type="video/mp4">
                Your browser is not supported!
            </video>
        </div>

        <div class="u-center-text u-margin-bottom-big">
            <h2 class="heading-secondary">
                ΒROADEN YOUR HORIZONS IN 360
            </h2>
        </div>

        <div class="u-center-text u-margin-top-huge">
            <a href="https://e-koufonisia.com/360/" class="btn-text">ENJOY OUR ISLAND &rarr;</a>
        </div>
    </section>
</main>