<div class="navigation">
    <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

    <label for="navi-toggle" class="navigation__button">
        <span class="navigation__icon">&nbsp;</span>
    </label>

    <div class="navigation__background">&nbsp;</div>

    <nav class="navigation__nav">
        <ul class="navigation__list">
            <li class="navigation__item"><a href="https://e-koufonisia.com"
                    class="navigation__link"><span>01</span>Koufonisia</a></li>
            <li class="navigation__item"><a href="https://e-koufonisia.com/koufonisia"
                    class="navigation__link"><span>02</span>About Koufonisia</a></li>
            <li class="navigation__item"><a href="https://e-koufonisia.com/360"
                    class="navigation__link"><span>03</span>Koufonisia 360</a></li>
            <li class="navigation__item"><a href="https://e-koufonisia.com"
                    class="navigation__link"><span>04</span>Beaches</a></li>
            <li class="navigation__item"><a href="https://e-koufonisia.com/booking"
                    class="navigation__link"><span>05</span>Book now</a></li>
        </ul>
    </nav>
</div>